.main {
    justify-content: space-around;
    display: flex;
}

.containt {
    display: flex;
    width: 100%;
}

.containt-side {
    width: 50%;
    justify-content: center;
    display: flex;
}

.rightSide {
    border-left: 1px solid white;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.leftSide {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.side {
    display: flex;
    justify-content: center;
    height: 100px;
    align-items: center;
}

.greyColor {
    background-color: rgb(87, 88, 90);
}

ul {
    list-style-type: none;
}