.main {
    padding: 20px;
    height: calc(100% - 40px);
    width: calc(100% - 40px);
    position: absolute;
}

.content {
    margin-top: 20px;
    padding: 10px;
    border: 1px #c4c2c2 solid;
    border-radius: 3px;
}