<div class="hbox navBar">
    <div class="title">
        Cédric Gibelli
    </div>
    <div class="hbox">
        <div *ngFor="let list of buttonList"  class="button">
            <a routerLink="{{getTabLink(list)}}" routerLinkActive="active" class="tabLink">{{tradService.getTrad(list)}}</a>
        </div>
        <select class="switchLangButton" (change)="switchLang($event)">
            <option value="fr">Français</option>
            <option value="en">English</option>
        </select>
    </div>
</div>