.padding-top {
    padding-top: 10px;
}

.epitech-pic {
    width: 300px;
    height: 100px;
}

.epitech-main {
    display: flex;
    align-items: center;
    padding-left: 50px;
}

.griffith-main {
    display: flex;
    align-items: center;
    padding-left: 50px;
}