.padding-top {
    padding-top: 10px;
}

.accenta-pic {
    width: 300px;
    height: 50px;
}

.accenta-main {
    padding-left: 50px;
}

.optimix-main {
    padding-left: 50px;
}

.solutec-pic-container {
    width: 300px;
    display: flex;
    justify-content: center;
}

.solutec-pic {
    width: 200px;
    height: 200px;
}

.solutec-main {
    padding-left: 50px;
}

ul {
    color: #c4c2c2;
}