<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="hbox main">
    <div class="helloMsg vbox">
        <div>
            <h1>{{trad.getTrad('hello')}}</h1>
            <h2>{{trad.getTrad('imCedric')}}</h2>
            <h3 style="margin-bottom: 40px;">{{trad.getTrad('imDev')}}</h3>
            
            <a class="noDefaultBehaviour DL-cv" download="Cedric_Gibelli.pdf" href="{{getPicHref()}}"> 
                <i class="fa fa-download dl-picto"></i>
                {{trad.getTrad('dlCv')}}
            </a>
        </div>
    </div>
    <div >
        <img class="profile-pic img-rectangle" src="assets/profile_pic.png"/>
    </div>
</div>
